[submodule "TAMER"]
	path = TAMER
	url = git@github.com:BurmanT/TAMER.git
[submodule "APReL"]
	path = APReL
	url = git@github.com:BurmanT/APReL.git
[submodule "hindsight-experience-replay"]
	path = hindsight-experience-replay
	url = git@github.com:BurmanT/hindsight-experience-replay.git
